<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="5a5bc46b-e6f1-409a-9bef-c7ef31b04612" Publisher="CN=Jeff" Version="1.1.0.0" />
  <Properties>
    <DisplayName>PhotoApp</DisplayName>
    <PublisherDisplayName>Bernhard Heinrich und Alexander Stoldt</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PhotoApp.App">
      <VisualElements DisplayName="PhotoApp" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="PhotoApp" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\LogoBig.jpg" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>